################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/MedoraApp/FileContentIndex/327b7fe9-02dd-48e3-82fb-e1d23b53c706.vsidx
