USE [master]
GO
/****** Object:  Database [MedoraDB]    Script Date: 22/9/2025 19:55:12 ******/
CREATE DATABASE [MedoraDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MedoraDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MedoraDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MedoraDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MedoraDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MedoraDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MedoraDB]
GO
/****** Object:  Table [dbo].[Bloque_Horario]    Script Date: 22/9/2025 19:55:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bloque_Horario](
	[id_bloque] [int] IDENTITY(1,1) NOT NULL,
	[fecha_inicio] [date] NOT NULL,
	[fecha_fin] [date] NOT NULL,
	[hora_inicio] [time](7) NOT NULL,
	[hora_fin] [time](7) NOT NULL,
	[duracion_turnos] [int] NOT NULL,
	[id_usuario] [int] NOT NULL,
	[id_dia] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_bloque] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Día]    Script Date: 22/9/2025 19:55:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Día](
	[id_dia] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_dia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Especialidad]    Script Date: 22/9/2025 19:55:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Especialidad](
	[id_especialidad] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_especialidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estado_Reserva]    Script Date: 22/9/2025 19:55:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estado_Reserva](
	[id_estado] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paciente]    Script Date: 22/9/2025 19:55:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paciente](
	[id_paciente] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[dni] [varchar](15) NOT NULL,
	[email] [varchar](100) NULL,
	[telefono] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_paciente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reserva]    Script Date: 22/9/2025 19:55:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reserva](
	[id_reserva] [int] IDENTITY(1,1) NOT NULL,
	[motivo_consulta] [varchar](200) NOT NULL,
	[id_turno] [int] NOT NULL,
	[id_estado] [int] NOT NULL,
	[id_paciente] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_reserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 22/9/2025 19:55:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[id_rol] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Turno]    Script Date: 22/9/2025 19:55:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Turno](
	[id_turno] [int] IDENTITY(1,1) NOT NULL,
	[fecha_turno] [date] NOT NULL,
	[hora_inicio] [time](7) NOT NULL,
	[hora_fin] [time](7) NOT NULL,
	[id_bloque] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_turno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 22/9/2025 19:55:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[dni] [varchar](15) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[telefono] [varchar](20) NULL,
	[contraseña_hash] [varchar](255) NOT NULL,
	[id_rol] [int] NOT NULL,
	[id_especialidad] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bloque_Horario] ON 

INSERT [dbo].[Bloque_Horario] ([id_bloque], [fecha_inicio], [fecha_fin], [hora_inicio], [hora_fin], [duracion_turnos], [id_usuario], [id_dia]) VALUES (1, CAST(N'2025-09-01' AS Date), CAST(N'2025-09-30' AS Date), CAST(N'07:00:00' AS Time), CAST(N'09:00:00' AS Time), 30, 5, 2)
INSERT [dbo].[Bloque_Horario] ([id_bloque], [fecha_inicio], [fecha_fin], [hora_inicio], [hora_fin], [duracion_turnos], [id_usuario], [id_dia]) VALUES (4, CAST(N'2025-10-01' AS Date), CAST(N'2025-10-30' AS Date), CAST(N'08:00:00' AS Time), CAST(N'11:00:00' AS Time), 30, 5, 2)
INSERT [dbo].[Bloque_Horario] ([id_bloque], [fecha_inicio], [fecha_fin], [hora_inicio], [hora_fin], [duracion_turnos], [id_usuario], [id_dia]) VALUES (5, CAST(N'2025-11-01' AS Date), CAST(N'2025-11-30' AS Date), CAST(N'08:00:00' AS Time), CAST(N'12:00:00' AS Time), 60, 5, 4)
SET IDENTITY_INSERT [dbo].[Bloque_Horario] OFF
GO
SET IDENTITY_INSERT [dbo].[Día] ON 

INSERT [dbo].[Día] ([id_dia], [nombre]) VALUES (4, N'Jueves')
INSERT [dbo].[Día] ([id_dia], [nombre]) VALUES (1, N'Lunes')
INSERT [dbo].[Día] ([id_dia], [nombre]) VALUES (2, N'Martes')
SET IDENTITY_INSERT [dbo].[Día] OFF
GO
SET IDENTITY_INSERT [dbo].[Especialidad] ON 

INSERT [dbo].[Especialidad] ([id_especialidad], [nombre]) VALUES (1, N'Cardiología')
INSERT [dbo].[Especialidad] ([id_especialidad], [nombre]) VALUES (3, N'Dermatología')
INSERT [dbo].[Especialidad] ([id_especialidad], [nombre]) VALUES (2, N'Pediatría')
SET IDENTITY_INSERT [dbo].[Especialidad] OFF
GO
SET IDENTITY_INSERT [dbo].[Estado_Reserva] ON 

INSERT [dbo].[Estado_Reserva] ([id_estado], [nombre]) VALUES (3, N'Cancelado')
INSERT [dbo].[Estado_Reserva] ([id_estado], [nombre]) VALUES (2, N'Finalizado')
INSERT [dbo].[Estado_Reserva] ([id_estado], [nombre]) VALUES (1, N'Reservado')
SET IDENTITY_INSERT [dbo].[Estado_Reserva] OFF
GO
SET IDENTITY_INSERT [dbo].[Paciente] ON 

INSERT [dbo].[Paciente] ([id_paciente], [nombre], [apellido], [dni], [email], [telefono]) VALUES (1, N'Juan', N'Lopez', N'55555555', N'juan@mail.com', N'4455667788')
INSERT [dbo].[Paciente] ([id_paciente], [nombre], [apellido], [dni], [email], [telefono]) VALUES (2, N'Maria', N'Gomez', N'66666666', N'maria@mail.com', N'5566778899')
SET IDENTITY_INSERT [dbo].[Paciente] OFF
GO
SET IDENTITY_INSERT [dbo].[Rol] ON 

INSERT [dbo].[Rol] ([id_rol], [nombre]) VALUES (1, N'Administrador')
INSERT [dbo].[Rol] ([id_rol], [nombre]) VALUES (2, N'Medico')
INSERT [dbo].[Rol] ([id_rol], [nombre]) VALUES (3, N'Recepcionista')
SET IDENTITY_INSERT [dbo].[Rol] OFF
GO
SET IDENTITY_INSERT [dbo].[Turno] ON 

INSERT [dbo].[Turno] ([id_turno], [fecha_turno], [hora_inicio], [hora_fin], [id_bloque]) VALUES (1, CAST(N'2025-09-02' AS Date), CAST(N'07:00:00' AS Time), CAST(N'07:30:00' AS Time), 1)
INSERT [dbo].[Turno] ([id_turno], [fecha_turno], [hora_inicio], [hora_fin], [id_bloque]) VALUES (2, CAST(N'2025-09-02' AS Date), CAST(N'07:30:00' AS Time), CAST(N'08:00:00' AS Time), 1)
INSERT [dbo].[Turno] ([id_turno], [fecha_turno], [hora_inicio], [hora_fin], [id_bloque]) VALUES (3, CAST(N'2025-09-02' AS Date), CAST(N'08:00:00' AS Time), CAST(N'08:30:00' AS Time), 1)
GO
SET IDENTITY_INSERT [dbo].[Turno] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([id_usuario], [nombre], [apellido], [dni], [email], [telefono], [contraseña_hash], [id_rol], [id_especialidad]) VALUES (4, N'Ignacio', N'Gomez', N'12345678', N'ignacio@mail.com', N'1122334455', N'hash123', 1, NULL)
INSERT [dbo].[Usuario] ([id_usuario], [nombre], [apellido], [dni], [email], [telefono], [contraseña_hash], [id_rol], [id_especialidad]) VALUES (5, N'Ana', N'Perez', N'87654321', N'ana@mail.com', N'2233445566', N'hash456', 2, 1)
INSERT [dbo].[Usuario] ([id_usuario], [nombre], [apellido], [dni], [email], [telefono], [contraseña_hash], [id_rol], [id_especialidad]) VALUES (6, N'Laura', N'Sanchez', N'11223344', N'laura@mail.com', N'3344556677', N'hash789', 3, NULL)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
/****** Object:  Index [UQ_Bloque]    Script Date: 22/9/2025 19:55:13 ******/
ALTER TABLE [dbo].[Bloque_Horario] ADD  CONSTRAINT [UQ_Bloque] UNIQUE NONCLUSTERED 
(
	[id_usuario] ASC,
	[id_dia] ASC,
	[hora_inicio] ASC,
	[hora_fin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Día__72AFBCC6CB967569]    Script Date: 22/9/2025 19:55:13 ******/
ALTER TABLE [dbo].[Día] ADD UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Especial__72AFBCC65208FD8C]    Script Date: 22/9/2025 19:55:13 ******/
ALTER TABLE [dbo].[Especialidad] ADD UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Estado_R__72AFBCC64EB65BDE]    Script Date: 22/9/2025 19:55:13 ******/
ALTER TABLE [dbo].[Estado_Reserva] ADD UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Paciente__D87608A7AC21D790]    Script Date: 22/9/2025 19:55:13 ******/
ALTER TABLE [dbo].[Paciente] ADD UNIQUE NONCLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Reserva__C68E739696BA3446]    Script Date: 22/9/2025 19:55:13 ******/
ALTER TABLE [dbo].[Reserva] ADD UNIQUE NONCLUSTERED 
(
	[id_turno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Rol__72AFBCC6D1A98404]    Script Date: 22/9/2025 19:55:13 ******/
ALTER TABLE [dbo].[Rol] ADD UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuario__AB6E616470CEEB34]    Script Date: 22/9/2025 19:55:13 ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuario__D87608A742E9F925]    Script Date: 22/9/2025 19:55:13 ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bloque_Horario]  WITH CHECK ADD FOREIGN KEY([id_dia])
REFERENCES [dbo].[Día] ([id_dia])
GO
ALTER TABLE [dbo].[Bloque_Horario]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD FOREIGN KEY([id_estado])
REFERENCES [dbo].[Estado_Reserva] ([id_estado])
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD FOREIGN KEY([id_paciente])
REFERENCES [dbo].[Paciente] ([id_paciente])
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD FOREIGN KEY([id_turno])
REFERENCES [dbo].[Turno] ([id_turno])
GO
ALTER TABLE [dbo].[Turno]  WITH CHECK ADD FOREIGN KEY([id_bloque])
REFERENCES [dbo].[Bloque_Horario] ([id_bloque])
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD FOREIGN KEY([id_especialidad])
REFERENCES [dbo].[Especialidad] ([id_especialidad])
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD FOREIGN KEY([id_rol])
REFERENCES [dbo].[Rol] ([id_rol])
GO
ALTER TABLE [dbo].[Bloque_Horario]  WITH CHECK ADD  CONSTRAINT [CK_BloqueHorario_DuracionTurno] CHECK  (([duracion_turnos]>(0)))
GO
ALTER TABLE [dbo].[Bloque_Horario] CHECK CONSTRAINT [CK_BloqueHorario_DuracionTurno]
GO
ALTER TABLE [dbo].[Bloque_Horario]  WITH CHECK ADD  CONSTRAINT [CK_BloqueHorario_DuracionTurnoMin] CHECK  ((datediff(minute,[hora_inicio],[hora_fin])>=[duracion_turnos]))
GO
ALTER TABLE [dbo].[Bloque_Horario] CHECK CONSTRAINT [CK_BloqueHorario_DuracionTurnoMin]
GO
ALTER TABLE [dbo].[Bloque_Horario]  WITH CHECK ADD  CONSTRAINT [CK_BloqueHorario_FechaInicio] CHECK  (([fecha_inicio]<[fecha_fin]))
GO
ALTER TABLE [dbo].[Bloque_Horario] CHECK CONSTRAINT [CK_BloqueHorario_FechaInicio]
GO
USE [master]
GO
