<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<!-- 🔹 Sección de cadenas de conexión -->
	<connectionStrings>
		<add name="MedoraDB"
			 connectionString="Server=DESKTOP-4QR6I55\SQLEXPRESS;Database=MedoraDB;Trusted_Connection=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>